body {
    padding: 2em;
}

h1 {
    text-align: center;
    font-family: arial, sans-serif;
}

#services {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#services td, #services th {
    border: 1px solid #ddd;
    padding: 8px;
}

#services tr:nth-child(even) {
    background-color: #f2f2f2;
}

#services tr:hover {
    background-color: #ddd;
}

#services th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #002845;
    color: white;
}


#post-service {
    margin-top: 1em;
}

input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#create-service {
    width: 40%;
}

.edit-btn {
    margin-left: 1em;
}

.margin-t-2 {
    margin-top: 2em;
}

.alert {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%, 100% 100%);
    animation: mask 2s;
    animation-iteration-count: 1;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
}

@keyframes mask {
    0% {
        clip-path: polygon(0px 0px, 0% 0, 0% 100%, 0px 100%);
    }
    100% {
        clip-path: polygon(0px 0px, 100% 0, 100% 100%, 0px 100%);
    }
}